<div class="contents">
  <ul>
    <li class="navTxt hvr-bounce-to-rightGreen"  scroll-to="about"
    container-id="custom-container-id" offset="50">ABOUT</li>
    <li class="navTxt hvr-bounce-to-rightGreen"  scroll-to="work"
    container-id="custom-container-id"  offset="50">WORK</li>
    <li href="#resume" class="navTxt hvr-bounce-to-rightGreen"  scroll-to="resume"
    container-id="custom-container-id"  offset="0">RESUME</li>
    <li href="#contact" class="navTxt hvr-bounce-to-rightGreen"  scroll-to="contact"
    container-id="custom-container-id"  offset="50">CONTACT</li>
  </ul>
</div>

<!-- about-->

<div id="about">
  <div class="aboutSizer">
    <div class="aboutText2">CODE as ART</div>
  <div class="aboutText">"My skills were forged in the firey depths of Fine Art. Driven by an unquenchable urge to learn and create, I battled my way through the lands of Paint and Film. Harnessing all the skills I've aquired - the eye for detail, the love of teamwork, the determination to meet deadlines - I am exploring Front End Development in all its glory.</div>
  <div class="aboutText">Currently, I'm at large, looking to join forces with a design-driven creative team that loves the process and quality of what they do"</div>
  </div>
</div>

<!-- about-->

<div class="work" id="work">
  <div class="detailTxt hideThis">
    <div class="spokeImg col-md-4"></div>
    <div class="title col-md-4">funkSpoke</div>
    <div class="tech">tech used: Javascript</div>
    <div class="closeThis" ng-click="hideDetail()">close</div>
  </div>
  <ul class="rowofWork">
    <li class="portfolioPiece hiphop" ng-click="showDetail()">
    </li>
    <li class="portfolioPiece"></li>
    <li class="portfolioPiece"></li>
    <li class="portfolioPiece"></li>
    <li class="portfolioPiece"></li>
    <li class="portfolioPiece"></li>
  </ul>
  </div>

</div>

<!-- resume -->

<div id="resume">
      <span class="resumeText">resume</span>
  <div class="resumeBox">
    <div class="resumeLinks">
      <div class="fa fa-file icon"><p class="webPdf">web</p></div>
      <div class="fa fa-file-pdf-o icon"><p class="webPdf">pdf</p></div>
    </div>
  </div>

</div>


<!-- contact-->

<div id="contact">
  <div class="contactTitle">LET'S MAKE THE WEB FUN</div>
  <ul class="contactInfo">
    <li><a href="mailto:jlnelsonart@gmail.com" class="visHover">jlnelsonart@gmail.com</a></li>
    <li><a href="tel:843-670-3343" class="visHover">(843) 670 3343</a></li>
  </ul>

</div>

<div id="floating-nav-content">
     <span class="navName">LUCIUS</span>
     <ul class="navLinks">
       <li scroll-to="contact"
       container-id="custom-container-id"  offset="50">contact</li>
       <li scroll-to="resume"
       container-id="custom-container-id"  offset="0">resume</li>
       <li scroll-to="work"
       container-id="custom-container-id"  offset="50">work</li>
       <li  scroll-to="about"
       container-id="custom-container-id" offset="50">about</li>
     </ul>
 </div>
