* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
  transition: color ease .5s;
}
a:hover {
  text-decoration: none;
  color: white;
}
.page{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  flex-direction: column;
}
.contents{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navTxt {
  text-align: center;
  font-weight: 800;
  font-size: 3em;
  color: black;
  padding-left: 10px;
    padding-right: 10px;
}

.navTxt:hover {
  color: white;
}
.hvr-bounce-to-rightGreen {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-rightGreen:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2ecc71;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-rightGreen:hover, .hvr-bounce-to-rightGreen:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-rightGreen:hover:before, .hvr-bounce-to-rightGreen:focus:before, .hvr-bounce-to-rightGreen:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.name{
  font-weight: 800;
  font-size: 3em;
  color: black;
  width: 80%;
  text-align: center;
  position: relative;
}

.name:hover {
  color: white;
}

.name:hover + .luciusTitle {
  color: #2ecc71;
}


#about {
  background-color: #2ecc71;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

#work {
  width: 100%;
}

#resume {
  width: 100%;
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
}

.row {
  height: 300px;
  width: 100%;
}

.portfolioPiece {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  position: relative;
}

.portfolioPiece:hover .workText{
  opacity: 1;
}



.findMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.rowofWork {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.contentPreview {
  width: 80%;
  height: 80%;
  background-color: black;
}

.visHover:hover {
  color: #2ecc71;
}

.visHoverWhite:hover {
  color: white;
}


#contact {
  width: 100%;
}

#floating-nav-content {
         top: 0;
         width: 100%;
         height: 50px;
         background-color: #2ecc71;
         position: fixed;
         display: none;
         color: #FFF;
         padding: 5px;
     }

.detailView {
  width: 100%;
  height: 400px;
  background-color: red;
}

.hideThis {
  display: none;
}

.spokeImg {
  background-color: red;
  height: 300px;
  width: 300px;
}

.detailTxt {
  height: 350px;
  width: 100%;
}

.title {
  font-weight: 600;
  width: 40%;
}

.navName {
  font-size: 2em;
  font-weight: 800;
}

.navLinks {
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}
.navLinks > li {
  opacity: .7;
  transition: .2s ease opacity;
}
.navLinks > li:hover {
  opacity: 1;
}

.icon {
  font-size: 14em;
  color: white;
  opacity: .7;
  transition: .2s ease opacity;
  margin: 10px;
}
.icon:hover {
  opacity: 1;
}

.webPdf {
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}
.resumeLinks {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.resumeBox {
  width: 100%;
  height: 100%;
  margin: 70px;
  display: flex;
  align-items: center;
}

.resumeText{
  color: white;
  font-size: 2em;
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 15px;
}

.contactInfo {
  width: 100%;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.contactTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
}

.aboutText {
  width: 80%;
  font-size: 1.5em;
  margin-top: 10px;
}

.aboutText2 {
  width: 80%;
  font-size: 2em;
}

.luciusTitle {
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  color: white;
  transition: 1s ease color;
  transition-delay: .5s;
}

.aboutSizer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.datArt{
  background: url(datArt.gif) no-repeat ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-filter: grayscale(0);
 filter: grayscale(0);
 position: absolute;
 width: 100%;
 height: 100%;
 border-radius: 100%;
 transition: all 1s ease;
 opacity: 1;
}
.datArt:hover {
   border-radius: 0%;
   -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .2;
}


.bigD {
  background: url(bigDaddy.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
opacity: 1;
-webkit-filter: grayscale(0);
 filter: grayscale(0);
 position: absolute;
 width: 100%;
 height: 100%;
 border-radius: 100%;
 transition: all 1s ease;
 opacity: 1;
}
.bigD:hover {
   border-radius: 0%;
   -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .2;
}

.nodeTitle {
  color: black;
  font-weight: 800;
  font-size: 3em;

}

.text {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#websiteLink:hover {
  color: #2ecc71;
}

.spoke {
  background: url(spoke.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
opacity: 1;
-webkit-filter: grayscale(0);
 filter: grayscale(0);
 position: absolute;
 width: 100%;
 height: 100%;
 border-radius: 100%;
 transition: all 1s ease;
 opacity: 1;
}

.spoke:hover {
   border-radius: 0%;
   -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .2;
}
.imK {
  background: url(immoralKombat.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
opacity: 1;
-webkit-filter: grayscale(0);
 filter: grayscale(0);
 position: absolute;
 width: 100%;
 height: 100%;
 border-radius: 100%;
 transition: all 1s ease;
 opacity: 1;
}
.imK:hover {
   border-radius: 0%;
   -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .2;
}


.workText {
  color: #2ecc71;
  margin: 0 auto;
  font-size: 4em;
  font-weight: 800;
  z-index: -1;
  opacity: 0;
  transition: 1s all ease;
  transition-delay: .5s;
  text-align: center;
}

#secondTitle {
  margin-top: 10px;
}

.resBackground {
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.resPage {
  background-color: white;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.resText {
  margin-top: 20px;
}

.resTitle {
  color: black;
  font-size: 5em;
  font-weight: 800;
}

.resSection {
  color: #2ecc71;
  font-weight: 800;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resTagLine {
  margin-top: -8px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.resSectText {
  margin-bottom: 10px;
}

.year {
  font-weight: 100;
  font-style: italic;
  margin-left: 30px;
}
.resSectTextminor {
  margin-top: -10px;
  color: #474c4c;
    font-weight: 100;
    margin-bottom: 10px;
}
.workPlace{
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
.jobTitle {
  font-weight: 500;
}
.resContactInfo {
  font-size: 2em;
  font-weight: 600;
}
.resContact {
  font-size: 2em;
  font-weight: 600;
  color: #2ecc71;
}

.Award {
  font-weight: 500;
  font-size: 1.2em;
}

.awardTag {
  font-weight: 100;
  font-style: italic;
  margin-left: 15px;
}

.awardText{
  margin-bottom: 10px;
}

.Award2 {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.resLink {
  color: #2ecc71;
}

.resLink:hover {
  background-color: black;
}

.workLink {
  font-style: italic;
  margin-top: 10px;
}

.flexContact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerLink {
  margin-top: 3px;
  font-size: 1.5em;
}

.skills {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.skillTitle {
  font-weight: 100;
  font-style: italic;
}
.backBtn {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 3em;
  color: black;
  transition: .2s ease all;
  opacity: .5;
}
.backBtn:hover {
  color: #2ecc71;
  opacity: 1;
}

.bottomBtn {
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: black;
  transition: .2s ease all;
  opacity: .5;
  bottom: 13px;
}
.bottomBtn:hover {
  color: white;
  opacity: 1;
}
.lessons {
  color: #2ecc71;
  opacity: .3;
  font-weight: 800;
  margin-left: 100px;
}
 @media only screen and (min-width : 500px) {
   .name {
     font-size: 5em;
     width: 55%;
   }
 }
